<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tapleader.tapleadersdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <service
            android:name="com.tapleader.TService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.tapleader.TReceiver"
            android:enabled="true"
            android:exported="true">
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        </receiver>
    </application>

</manifest>